<!DOCTYPE html>
<html xmlsn:th="http://thymeleaf.org"
xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>EventosApp</title>
</head>
<body>
<h1>Evento</h1>
<h3><a href="/evento">Lista de Evento</a></h3>
<div th:each="evento :${evento}" class="container">
    <div class="row">
        <p>Nome: <span th:text="${evento.nome}"></span></p>
        <p>Local: <span th:text="${evento.local}"></span></p>
        <p>Data: <span th:text="${evento.data}"></span></p>
        <p>Horario: <span th:text="${evento.horario}"></span></p>
    </div>

    <form method="post">
        Nome: <input type="text" value="" name="nomeConvidado"/>
        RG: <input type="text" value="" name="rg"/>
        <button type="submit">Adicionar</button>
    </form>
</div>
</body>
</html>