<!DOCTYPE html>
<html xmlns:th="https://thymeleaf/org"
xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>EventosApp</title>
</head>
<body>
<h1>Cadastro de Eventos</h1>
<h3><a href="/eventos">Lista de Eventos</a></h3>
<form class="container" method="post" action="">
    Nome:<input type="text" value="" name="nome"/>

    <div class="row">
            Local:<input type="text" value="" name="local"/>
            Data:<input type="date" value="" name="data"/>
            Horario:<input type="text" value="" name="horario"/>
    </div>
    <button type="submit">Salvar</button>
</form>
</body>
</html>